{% extends 'base.html' %}

{% block title %}
Users List
{% endblock %}

{% block content %}
    <ul>
        {% for user in object_list %}
            <li>
                {{ user.username }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}