{% extends 'base.html' %}
{% load hitcount_tags %}
{% load thumbnail %}
{% load static %}

{% block title %} Home {% endblock %}


{% block content %}
  <section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
          {% for article in articles %}
            <div class="single_iteam"> <a href="{{ article.get_absolute_url }}"> <img src="{{ article.img.url }}" alt=""></a>
              <div class="slider_article">
                <h2><a class="slider_tittle" href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2>
                <p>{{ article.body|slice:155 }}...</p>
                <p>{{ article.created_date }}</p>
                <br>
                <p>Просмотры: {% get_hit_count for article %}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Latest post</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
            <ul class="latest_postnav">
              {% for post in latest_posts %}
              <li>
                <div class="static/media"> <a href="{{ post.get_absolute_url }}" class="static/media-left"> <img alt="" src="{{ post.img }}"> </a>
                  <div class="static/media-body"> <a href="{{ post.get_absolute_url }}" class="catg_title">{{ post.title }}</a> </div>
                  <p>Дата:{{ post.created_date | date }} Время:{{ post.created_date | time }}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Business</span></h2>
            <div class="single_post_content_left">
              {% for article in articles %}
              {% if article.category == 'Business' %}
              <ul class="business_catgnav  wow fadeInDown">
                <li>
                  <figure class="bsbig_fig"> <a href="{{ article.get_absolute_url }}" class="featured_img"> <img alt="" src="{{ article.img.url }}"> <span class="overlay"></span> </a>
                    <figcaption> <a href="{{ article.get_absolute_url }}">{{ article.title }}</a> </figcaption>
                    <p>{{ article.body | slice:155}}...</p>
                  </figure>
                </li>
              </ul>
              {% endif %}
              {% endfor %}
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                {% for post in posts %}
                {% if post.category == 'Business' %}
                <li>
                  <div class="static/media wow fadeInDown"> <a href="{{ post.get_absolute_url }}" class="static/media-left"> <img alt="" src="{{ post.img.url }}"> </a>
                    <div class="static/media-body"> <a href="{{ post.get_absolute_url }}" class="catg_title"></a>{{ post.title }}</div>
                  </div>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="fashion_technology_area">
            <div class="fashion">
              <div class="single_post_content">
                <h2><span>Fashion</span></h2>
                {% for article in articles %}
                {% if article.category == 'Fashion' %}
                <ul class="business_catgnav  wow fadeInDown">
                  <li>
                    <figure class="bsbig_fig"> <a href="{{ article.get_absolute_url }}" class="featured_img"> <img alt="" src="{{ article.img.url }}"> <span class="overlay"></span> </a>
                      <figcaption> <a href="{{ article.get_absolute_url }}">{{ article.title }}</a> </figcaption>
                      <p>{{ article.body | slice:155}}...</p>
                    </figure>
                  </li>
                </ul>
                {% endif %}
                {% endfor %}
                <ul class="spost_nav">
                  {% for post in posts %}
                  {% if post.category == 'Fashion' %}
                  <li>
                    <div class="static/media wow fadeInDown"> <a href="{{ post.get_absolute_url }}" class="static/media-left"> <img alt="" src="{{ post.img.url }}"> </a>
                      <div class="static/media-body"> <a href="{{ post.get_absolute_url }}" class="catg_title"></a>{{ post.title }}</div>
                    </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="technology">
              <div class="single_post_content">
                <h2><span>Technology</span></h2>
                {% for article in articles %}
                {% if article.category == 'Technology' %}
                <ul class="business_catgnav  wow fadeInDown">
                  <li>
                    <figure class="bsbig_fig"> <a href="{{ article.get_absolute_url }}" class="featured_img"> <img alt="" src="{{ article.img.url }}"> <span class="overlay"></span> </a>
                      <figcaption> <a href="{{ article.get_absolute_url }}">{{ article.title }}</a> </figcaption>
                      <p>{{ article.body | slice:155}}...</p>
                    </figure>
                  </li>
                </ul>
                {% endif %}
                {% endfor %}
                <ul class="spost_nav">
                  {% for post in posts %}
                  {% if post.category == 'Technology' %}
                  <li>
                    <div class="static/media wow fadeInDown"> <a href="{{ post.get_absolute_url }}" class="static/media-left"> <img alt="" src="{{ post.img.url }}"> </a>
                      <div class="static/media-body"> <a href="{{ post.get_absolute_url }}" class="catg_title"></a>{{ post.title }}</div>
                    </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="single_post_content">
            <h2><span>Photography</span></h2>
            <ul class="photograph_nav  wow fadeInDown">
              {% for image in images %}
              <li>
                <div class="photo_grid">
                  <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="{{ image.img.url }}" title="{{ image.title }}"> <img src="{{ image.img.url }}" alt=""/></a> </figure>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="single_post_content">
            <h2><span>Games</span></h2>
            <div class="single_post_content_left">
                {% for article in articles %}
                {% if article.category == 'Games' %}
                <ul class="business_catgnav  wow fadeInDown">
                  <li>
                    <figure class="bsbig_fig"> <a href="{{ article.get_absolute_url }}" class="featured_img"> <img alt="" src="{{ article.img.url }}"> <span class="overlay"></span> </a>
                      <figcaption> <a href="{{ article.get_absolute_url }}">{{ article.title }}</a> </figcaption>
                      <p>{{ article.body | slice:155}}...</p>
                    </figure>
                  </li>
                </ul>
                {% endif %}
                {% endfor %}
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                {% for post in posts %}
                {% if post.category == 'Games' %}
                <li>
                  <div class="static/media wow fadeInDown"> <a href="{{ post.get_absolute_url }}" class="static/media-left"> <img alt="" src="{{ post.img.url }}"> </a>
                    <div class="static/media-body"> <a href="{{ post.get_absolute_url }}" class="catg_title"></a>{{ post.title }}</div>
                  </div>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
