{% extends 'base.html' %}

{% block title %}Article Delete{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ article.title }}"?</p>
        <input type="submit" value="Confirm">
    </form>
{% endblock %}