{% extends 'base.html' %}
{% load hitcount_tags %}

{% load static %}

{% block title %} Pages | post | Single Page{% endblock %}


{% block content %}
<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="single_page">
          <ol class="breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">{{ article.category }}</a></li>
            <li class="active">Mobile</li>
          </ol>
          <h1>{{ article.title }}</h1>
          <div class="post_commentbox"> <a href="#"><i class="fa fa-user"></i>{{ article.posted_by }}</a> <span><i class="fa fa-calendar"></i>{{ article.created_date | time}}</span> <a href="#"><i class="fa fa-tags"></i>{{ article.category }}</a> </div>
          <div class="single_page_content"> <img class="img-center" src="{{ article.img.url }}" alt="">
            <p>{{ article.body }}</p>
            {% if user == article.posted_by %}
            <a href="{% url 'article_edit' article.slug %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'article_delete' article.slug %}" class="btn btn-danger">Delete</a>
            {% endif %}
            <br>
            <p>Просмотры:{% get_hit_count for article %}</p>
            <p>Комментарии:</p>
            {% for comment in article.comments.all %}
            <a href="#">{{ comment.author }}:</a>
            <blockquote>{{ comment }}</blockquote>
            {% endfor %}
            <ul>
              <li>Nullam vitae nibh odio, non scelerisque nibh</li>
              <li>Nullam vitae nibh odio, non scelerisque nibh</li>
              <li>Nullam vitae nibh odio, non scelerisque nibh</li>
              <li>Nullam vitae nibh odio, non scelerisque nibh</li>
              <li>Nullam vitae nibh odio, non scelerisque nibh</li>
              <li>Nullam vitae nibh odio, non scelerisque nibh</li>
            </ul>
            <h2>This is h2 title</h2>
            <h3>This is h3 title</h3>
            <h4>This is h4 title</h4>
            <h5>This is h5 title</h5>
            <h6>This is h6 Title</h6>
            <button class="btn default-btn">Default</button>
            <button class="btn btn-red">Red Button</button>
            <button class="btn btn-yellow">Yellow Button</button>
            <button class="btn btn-green">Green Button</button>
            <button class="btn btn-black">Black Button</button>
            <button class="btn btn-orange">Orange Button</button>
            <button class="btn btn-blue">Blue Button</button>
            <button class="btn btn-lime">Lime Button</button>
            <button class="btn btn-theme">Theme Button</button>
          </div>
          <div class="social_link">
            <ul class="sociallink_nav">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
          <div class="related_post">
            <h2>Related Post <i class="fa fa-thumbs-o-up"></i></h2>
            <ul class="spost_nav wow fadeInDown animated">
              <li>
                <div class="media"> <a class="media-left" href="single_page.html"> <img src="{% static 'media/images/post_img1.jpg' %}" alt=""> </a>
                  <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                </div>
              </li>
              <li>
                <div class="media"> <a class="media-left" href="single_page.html"> <img src="{% static 'media/images/post_img2.jpg' %}" alt=""> </a>
                  <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                </div>
              </li>
              <li>
                <div class="media"> <a class="media-left" href="single_page.html"> <img src="{% static 'media/images/post_img1.jpg' %}" alt=""> </a>
                  <div class="media-body"> <a class="catg_title" href="single_page.html"> Aliquam malesuada diam eget turpis varius</a> </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav class="nav-slit"> <a class="prev" href="#"> <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
      <div>
        <h3>City Lights</h3>
        <img src="{% static 'media/images/post_img1.jpg' %}" alt=""/> </div>
      </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
      <div>
        <h3>Street Hills</h3>
        <img src="{% static 'media/images/post_img1.jpg' %}" alt=""/> </div>
      </a> </nav>
{% endblock %}
    