<!DOCTYPE html>
{% load static %}
{% load hitcount_tags %}


<html>
<head>
<title>NewsFeed |{% block title %}{% endblock %} </title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/li-scroller.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="/">About</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              {% if not user.is_authenticated %}<li><a href="{% url 'signup' %}">Sign Up</a></li>{% endif %}
              {% if not user.is_authenticated %}<li><a href="{% url 'login' %}">Log In</a></li>{% endif %}
              {% if user.is_authenticated %}<li><a href="{% url 'logout' %}">Log Out</a></li>{% endif %}
            </ul>
          </div>
          <div class="header_top_right">
            <p>
              <script language="javascript" type="text/javascript">
                var d = new Date();
                
                var day=new Array("Воскресенье","Понедельник","Вторник",
                "Среда","Четверг","Пятница","Суббота");
                
                var month=new Array("января","февраля","марта","апреля","мая","июня",
                "июля","августа","сентября","октября","ноября","декабря");
                
                document.write(day[d.getDay()]+" " +d.getDate()+ " " + month[d.getMonth()]
                + " " + d.getFullYear() + " г.");
                </script>
            </p> 
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
          <div class="logo_area"><a href="{% url 'home' %}" class="logo"><img src="{% static 'media/images/logo.jpg' %}" alt=""></a></div>
          <div class="add_banner"><a href="#"><img src="{% static 'media/images/addbanner_728x90_V1.jpg' %}" alt=""></a></div>
        </div>
      </div>
    </div>
  </header>
  <section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav main_nav">
          <li class="active"><a href="{% url 'home' %}"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
          <li><a href="#">Technology</a></li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mobile</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Android</a></li>
              <li><a href="#">Samsung</a></li>
              <li><a href="#">Nokia</a></li>
              <li><a href="#">Walton Mobile</a></li>
              <li><a href="#">Sympony</a></li>
            </ul>
          </li>
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Tablets</a></li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
          <li><a href="{% url '404' %}">404 Page</a></li>
          {% if user.is_authenticated %}<li><a href="{% url 'new_article' %}">+New Article</a></li>{% endif %}
          {% if user.is_authenticated %}<li><a href="{% url 'new_img' %}">+New Image</a></li>{% endif %}
        </ul>
      </div>
    </nav>
  </section>
  <section id="newsSection">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="latest_newsarea"> <span>Latest News</span>
          <ul id="ticker01" class="news_sticker">
            {% for article in articles.all|dictsortreversed:"created_date" %}
              <li><a href="{% url 'article_detail' article.slug %}"><img src="{{ article.img.url }}" alt="">{{ article.title }}</a></li>
            {% endfor %}
          </ul>
          <div class="social_area">
            <ul class="social_nav">
              <li class="facebook"><a href="#"></a></li>
              <li class="twitter"><a href="#"></a></li>
              <li class="flickr"><a href="#"></a></li>
              <li class="pinterest"><a href="#"></a></li>
              <li class="googleplus"><a href="#"></a></li>
              <li class="vimeo"><a href="#"></a></li>
              <li class="youtube"><a href="#"></a></li>
              <li class="mail"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
{% block content %}






{% endblock %}
    <div class="col-lg-4 col-md-4 col-sm-4">
      <aside class="right_content">
        <div class="single_sidebar">
          <h2><span>Popular Post</span></h2>
          <ul class="spost_nav">
            {% for post in popular_posts %}
            <li>
              <div class="static/media wow fadeInDown"> <a href="{% url 'article_detail' post.slug %}" class="static/media-left"> <img alt="" src="{{ post.img }}"> </a>
                <div class="static/media-body"> <a href="{{ article.get_absolute_url }}" class="catg_title">{{ post.title }}</a> </div>
              </div>
            </li>
            <p>Просмотры:{% get_hit_count for post %}</p>
            {% endfor %}
          </ul>
        </div>
        <div class="single_sidebar">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
            <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
            <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="category">
              <ul>
                <li class="cat-item"><a href="#">Sports</a></li>
                <li class="cat-item"><a href="#">Fashion</a></li>
                <li class="cat-item"><a href="#">Business</a></li>
                <li class="cat-item"><a href="#">Technology</a></li>
                <li class="cat-item"><a href="#">Games</a></li>
                <li class="cat-item"><a href="#">Life &amp; Style</a></li>
                <li class="cat-item"><a href="#">Photography</a></li>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="video">
              <div class="vide_area">
                <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="comments">
              <ul class="spost_nav">
                {% for post in posts %}
                  <li>
                    <div class="static/media wow fadeInDown"> <a href="{{ post.get_absolute_url }}" class="static/media-left"> <img alt="" src="{{ post.img.url }}"> </a>
                      <div class="static/media-body">
                        <a href="{{ post.get_absolute_url }}" class="catg_title">{{ post.title }}</a> 
                        <br>
                      </div>
                    </div>
                  </li>
                  {% for comment in post.post_comments.all %}
                    <a href="#">{{ comment.author }}:</a>
                    <br>
                    <blockquote>{{ comment }}</blockquote>
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="single_sidebar wow fadeInDown">
          <h2><span>Sponsor</span></h2>
          <a class="sideAdd" href="#"><img src="{% static 'media/images/add_img.jpg' %}" alt=""></a> </div>
        <div class="single_sidebar wow fadeInDown">
          <h2><span>Category Archive</span></h2>
          <select class="catgArchive">
            <option>Select Category</option>
            <option>Life styles</option>
            <option>Sports</option>
            <option>Technology</option>
            <option>Treads</option>
          </select>
        </div>
        <div class="single_sidebar wow fadeInDown">
          <h2><span>Links</span></h2>
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Rss Feed</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Life &amp; Style</a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>


  <footer id="footer">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInLeftBig">
            <h2>Flickr Images</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInDown">
            <h2>Tag</h2>
            <ul class="tag_nav">
              <li><a href="#">Games</a></li>
              <li><a href="#">Sports</a></li>
              <li><a href="#">Fashion</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Life &amp; Style</a></li>
              <li><a href="#">Technology</a></li>
              <li><a href="#">Photo</a></li>
              <li><a href="#">Slider</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="footer_widget wow fadeInRightBig">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <address>
            Perfect News,1238 S . 123 St.Suite 25 Town City 3333,USA Phone: 123-326-789 Fax: 123-546-567
            </address>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <class class="copyright">Copyright &copy;
        <script language="javascript" type="text/javascript">
        var d = new Date();
        document.write(d.getFullYear() + " г.    ");
        </script><a href="{% url 'home' %}" style="color: aliceblue;">NewsFeed</a>
    </class>
      <p class="developer" style="color: aliceblue;">Developed By Nursultan</p>
    </div>
  </footer>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script> 
<script src="{% static 'js/wow.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/slick.min.js' %}"></script> 
<script src="{% static 'js/jquery.li-scroller.1.0.js' %}"></script> 
<script src="{% static 'js/jquery.newsTicker.min.js' %}"></script> 
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script> 
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
