{% extends 'base.html' %}

{% block title %} Image Delete{% endblock %}

{% block content %}
    <h1>Are you sure you want to delete this image?</h1>
    <img src="{{ img.img.url }}" alt="">
    <p>{{ img.title }}</p>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Confirm">
    </form>
{% endblock %}