{% extends 'base.html' %}

{% block title %} Image Details{% endblock %}

{% block content %}
    <li>
    <div class="photo_grid">
      <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="{{ image.img.url }}" title="{{ image.title }}"> <img src="{{ image.img.url }}" alt=""/></a> </figure>
    </div>
  </li>
{% endblock %}